<%- include ('fragmentos/head.ejs')%>



<h1>Visualizador</h1>
<% if(isAuthenticated){  %>
<p>
    usuario logueado: <%=  user.nombre %>
</p>
<% } %>
<h2 id="grupo">Grupo </h2>


<div class="border col" style="overflow-x: scroll;  width:100%;">
    <table class="table table-hover table-sm justify-content-center">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <th colspan="8">Unidad 4</th>
                <th colspan="8">Unidad 5</th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th class="campoPersonalizado" scope="col" style="width: 20%;">Nombre</th>
                <% for(var i=0;i<30; i++){ %>
                <th scope="col">
                    <button type="button" class="btn btn-light"> <%= " 00000" +  i %>    </button>
                </th>
                        
                   
                <% } %>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0;i<15; i++){ %>
                <tr>
                    <th scope="row"><%= i %></th>
                    <td>Ana Miriam Rios Leyva</td>
                    <td>X</td>
                    <td>O</td>
                </tr>
                <% } %>
           
            <tr>
                <th scope="row">1</th>
                <td>Ana Miriam Rios Leyva</td>
                <td>X</td>
                <td>O</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Ana Miriam Rios Leyva</td>
                <td>X</td>
                <td>O</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <div>
        <select id="select">
            <option value="value2" selected>Seleccione un grupo</option>

            <% for(var i=0 ; i < grupos.length; i++){ %>
                <% var grupo = grupos[i] %>
                <option value="value1"><%= (grupo.materia +" "+ grupo.dias + " | " + grupo.hora ) %></option> 

            <% } %>
            <option value="value3">Grupo 3</option>
          </select>
    </div>
    <div>
        <div class="col">
            <form method="POST" action="/agregarAsistencias" >
                <input type="submit" value="Agregar asistencia">

                <input type="button" value="Gestionar asistencias">
            </form>
        </div>
    </div>
</div>


<style>
    th.campoPersonalizado{
        width: 20%;
        padding-right: 10em;
    }
</style>

<script>
    document.getElementById('select').addEventListener('change', (e)=>{
        e.preventDefault();
        console.log("Escucho");
        let combo =document.getElementById("select");
        let selected = combo.options[combo.selectedIndex].text;
        document.getElementById("grupo").textContent = selected;

    }, false); 
</script>



<%- include ('fragmentos/footer.ejs')%>